node_modules
dist
dist-ssr
*.local

.DS_Store
*.log
*.pid
*.seed
*.pid.lock

.vscode
.idea

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage
.nyc_output

*.tsbuildinfo

